body{
  text-align: center;
  margin:0;
  font-family: 'Merriweather', serif;
  line-height: 2;
  color: #40514E;

}
h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
color: #66BFBF;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size: 2.2rem;
color: #66BFBF;
font-weight: normal;
}
h3{
font-family: 'Merriweather', serif;
color: #11999E;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  width: 4%;
  border-bottom: none;
  margin: 100px auto 100px auto;
}
a{
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat' sans-serif;
}
a:hover{
  color: #EAF6F6;
}
.pro{
  text-decoration: underline;
}
.top-container{
  background: #E1FFEE ;
  padding: 160px;
}
.middle-container{
  margin: 100px;
}
.Boy{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.top-cloud{
  position: absolute;
  top: 110px;
  right: 300px;
}
.bottom-cloud{
  position: absolute;
  left: 300px
}
.code{
 border-radius: 50%;
 height: 170px;
 width: 170px;
 float: left;
 margin-right: 30px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.chicken
{
  border-radius: 50%;
  height: 170px;
  width: 170px;
  float: right;
  margin-left: 30px;
}
.skill-row-game{
  text-align: left;
  width: 50%;
  margin: 100px auto 100px auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.bottom-container{
  background: #66BFBF;
  padding: 50px 0 20px;
}
.btn {
  background: #34d9d1;
  background-image: -webkit-linear-gradient(top, #34d9d1, #2b97b8);
  background-image: -moz-linear-gradient(top, #34d9d1, #2b97b8);
  background-image: -ms-linear-gradient(top, #34d9d1, #2b97b8);
  background-image: -o-linear-gradient(top, #34d9d1, #2b97b8);
  background-image: linear-gradient(to bottom, #34d9d1, #2b97b8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3caefa;
  background-image: -webkit-linear-gradient(top, #3caefa, #34c0d9);
  background-image: -moz-linear-gradient(top, #3caefa, #34c0d9);
  background-image: -ms-linear-gradient(top, #3caefa, #34c0d9);
  background-image: -o-linear-gradient(top, #3caefa, #34c0d9);
  background-image: linear-gradient(to bottom, #3caefa, #34c0d9);
  text-decoration: none;
}
